{{- /* This shortcode create a gallery with images contained in "directory" 
 Params: 
  - "directory" : name of directory as a subdir of "static/images/" 
  - "sort" : "asc" or "desc" if you prefer newer image resp. last or first
 Note : 
 This version uses lightbox plugins and additionnal css for image display */ -}}

{{- $.Scratch.Set "sort" "asc" }}
{{- with .Get "sort" }}{{ $.Scratch.Set "sort" . }}{{ end }}
{{- with .Get "directory" }}
    {{- $folder := . }}
    {{- $absFolder := . | printf "/static/images/%s" }}
    {{- if fileExists $absFolder }}
        {{- $files2 := readDir $absFolder }}

        {{- /* Tentative de filtre, qui ne marche pas */}}
        {{- /* $files := where $files2 "Name" "in" ".jpg" */}}
        {{- $files := slice }} {{- /* Création d'un tableau vide que l'on remplit des images uniquement */}}
        {{- range $files2 }}
            {{- if or (in (.Name | lower) "jpg") (in (.Name | lower) "gif") }}
                {{- $files = $files | append .Name }}
            {{- end }}
        {{- end }}
        {{- /* $files n'est pas utilisé pour l'instant, mais OK */}}

        {{- /* Nb img with thumbs folder */}}
        {{- $nbImg := len $files }}
        {{- $nbLines := math.Ceil (div $nbImg 4.0) }}

        <div class="grid-row text-center nbLines-{{ $nbLines }}">
            {{- $.Scratch.Set "j" 1 }} {{- /* Variable persistente dans la boucle avec Scratchpad */}}
            {{- range sort $files2 "Name" ($.Scratch.Get "sort") }}
                {{- if or (in (.Name | lower) "jpg") (in (.Name | lower) "gif") }}
                    {{- $idx := $.Scratch.Get "j" }}
                    {{- $Filename := path.Base .Name }}
                    {{- $Thumbname := (replaceRE "(gif|png)$" "jpg" $Filename) }}
                    {{ if modBool (sub $idx 1) $nbLines }}
                        <div class="grid-column">
                    {{- end }}
                    <div class="grid-img-container">
                        <a href="{{ printf "images/%s/%s" $folder $Filename | relURL }}" data-lightbox="lightbox-set">
                            <img class="img-fluid img-thumbnail" src="{{ printf "images/%s/thumbs/%s" $folder $Thumbname | relURL }}" alt="{{ printf "%d %s" ($.Scratch.Get "j") $Filename }}">
                        </a>
                    </div>
                    {{- /* close grid-column div if :
                        - (gt $idx 1) */}}
                    {{- if (or (eq (mod $idx $nbLines) 0) (ge (add $idx 1) $nbImg) (le $nbImg $nbLines))  }}
                        </div> 
                    {{- end }}
                    {{- $.Scratch.Set "j" (add ($.Scratch.Get "j") 1) }}
                {{- end }}
            {{- end }}
        </div>
    {{- else }}
    <p>Pas d'image.</p>
    {{- end }}
{{- else }}
{{- errorf "missing value for param 'name': %s" .Position }}
{{- end }}